merveilles17.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.tei-c.org/ns/1.0" xml:lang="fr" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <start>
    <ref name="TEI"/>
  </start>
  <div>
    <a:documentation>Structure</a:documentation>
    <define name="TEI">
      <element name="TEI">
        <ref name="xml.lang"/>
        <ref name="teiHeader"/>
        <choice>
          <ref name="text"/>
          <ref name="sourceDoc"/>
        </choice>
      </element>
    </define>
    <define name="text">
      <element name="text">
        <optional>
          <ref name="front"/>
        </optional>
        <ref name="body"/>
      </element>
    </define>
    <define name="sourceDoc">
      <element name="sourceDoc">
        <a:documentation>Document image où le texte est accessoire (ex : devise)</a:documentation>
        <oneOrMore>
          <ref name="figure"/>
        </oneOrMore>
      </element>
    </define>
    <a:example>
      <teiHeader>
        <fileDesc>
          <titleStmt>
            <title>Les Plaisirs de l'île enchantée</title>
            <author key="code (cf. /index/personne.tsv)">Auteur du texte</author>
            <editor key="code (cf. /index/personne.tsv)">Autre contributeur</editor>
          </titleStmt>
          <editionStmt>
            <edition>Merveilles17</edition>
            <respStmt>
              <name>Marine Roussillon</name>
              <resp>Transcription</resp>
            </respStmt>
            <respStmt>
              <name>Yohann Deguin</name>
              <resp>Balisage</resp>
            </respStmt>
          </editionStmt>
          <publicationStmt>
            <publisher>Université d’Artois - Lille, MESHS</publisher>
            <date when="2019">2019</date>
            <availability status="restricted">
              <licence target="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"/>
            </availability>
          </publicationStmt>
          <sourceDesc>
            <bibl>
              <!-- La ligne bibliographique peut être ponctuée librement, elle doit comporter au moins un élément <note>, utilisé dans l’interface comme complément  bibliographique au titre. -->
              <title>Les Plaisirs de l'île enchantée : Course de bague, collation ornée de machines, comédie mêlée de danse et de musique, ballet du palais d'Alcine, feu d'artifice, et autres fêtes galantes et magnifiques, faites par le roi à Versailles, le 7 mai 1664</title>.
              <!-- Complément bibliographique libre (obligatoire, non répétable), pour une pièce d’archive -->
              <note>Estampe, 27,6x42,3cm, Paris, BNF, Estampes, RESERVE QB-201 (46)-FOL, Hennin, 4209.</note>
              <!-- Imprimé (balisage facultatif) -->
              <note><pubPlace>Paris</pubPlace>, <publisher>Ballard</publisher> – <date>1664</date>.</note>
              <!-- Pointeur vers un original numérique (obligatoire, non répétable) -->
              <ptr target="http://source.numérique"/>
            </bibl>
          </sourceDesc>
          <profileDesc>
            <creation>
              <date when="1673">1673</date>
            </creation>
          </profileDesc>
        </fileDesc>
      </teiHeader>
    </a:example>
    <define name="teiHeader">
      <a:documentation>La page de titre électronique, avec les métadonnées, notamment les entités d’indexation <a:el>event</a:el>, <a:el>person</a:el>…</a:documentation>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <a:documentation>Titre (! obligatoire) et auteurs (* optionnel et répétable) du document</a:documentation>
            <ref name="title"/>
            <zeroOrMore>
              <choice>
                <ref name="author"/>
                <ref name="editor"/>
              </choice>
            </zeroOrMore>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <a:documentation>Nom de l’édition électronique</a:documentation>
              <value>Merveilles17</value>
            </element>
            <zeroOrMore>
              <element name="respStmt">
                <a:documentation>Personne ayant une responsabilité dans l'élaboration du texte électronique (pas le contenu intellectuel, cf. <a:el>titleStmt</a:el>)</a:documentation>
                <ref name="name"/>
                <element name="resp">
                  <a:documentation>Date et rôle dans l’établissement du texte électronique</a:documentation>
                  <text/>
                </element>
              </element>
            </zeroOrMore>
          </element>
          <element name="publicationStmt">
            <a:documentation>Informations relatives à la publication et à la diffusion du fichier XML/TEI</a:documentation>
            <element name="publisher">
              <a:documentation>Éditeur responsable de la publication électronique</a:documentation>
              <text/>
            </element>
            <ref name="date"/>
            <element name="availability">
              <attribute name="status">
                <value>restricted</value>
              </attribute>
              <element name="licence">
                <ref name="target"/>
                <text/>
              </element>
            </element>
          </element>
          <optional>
            <element name="notesStmt">
              <oneOrMore>
                <ref name="note"/>
              </oneOrMore>
            </element>
          </optional>
          <element name="sourceDesc">
            <element name="bibl">
              <a:documentation>Ligne bibliographique librement ponctuée, avec plusieurs composants balisables.</a:documentation>
              <!--
              <h:div xmlns="http://www.w3.org/1999/xhtml">
Note : la sémantique de certains éléments a été assouplie pour simplifier la validation et l’extraction.
<ul>
  <li><a:el>ptr</a:el> : obligatoire, lien vers source numérique</li>
  <li><a:el>date</a:el> : obligatoire pour les imprimés, date d’édition</li>
  <li><a:el>idno</a:el> : obligatoire pour les pièces d’archive, cote</li>
  <li><a:el>pubPlace</a:el> : obligatoire, lieu de publication pour les imprimés (ou de conservation pour les pièces d’archive)</li>
  <li><a:el>publisher</a:el> : optionnel, éditeur pour les imprimés (ou dépôt pour les pièces d’archive)</li>
</ul>
              </h:div>
              -->
              <zeroOrMore>
                <choice>
                  <text/>
                  <ref name="bibl.date"/>
                  <ref name="emph"/>
                  <ref name="bibl.idno"/>
                  <element name="note">
                    <zeroOrMore>
                      <choice>
                        <text/>
                        <ref name="bibl.date"/>
                        <ref name="bibl.idno"/>
                        <ref name="publisher"/>
                        <ref name="pubPlace"/>
                        <ref name="sc"/>
                      </choice>
                    </zeroOrMore>
                  </element>
                  <ref name="publisher"/>
                  <ref name="pubPlace"/>
                  <ref name="sc"/>
                  <ref name="title"/>
                </choice>
              </zeroOrMore>
              <element name="ptr">
                <a:documentation>Lien vers une source numérique</a:documentation>
                <attribute name="target"/>
                <empty/>
              </element>
            </element>
            <optional>
              <ref name="msDesc"/>
            </optional>
          </element>
        </element>
        <element name="profileDesc">
          <a:documentation>Description non-bibliographique du texte (langue, circonstances de production)</a:documentation>
          <interleave>
            <element name="creation">
              <a:documentation>Date de création du document (pour base de données)</a:documentation>
              <ref name="date"/>
            </element>
            <optional>
              <element name="langUsage">
                <a:documentation>Code de langue</a:documentation>
                <element name="language">
                  <attribute name="ident">
                    <choice>
                      <value>fr</value>
                    </choice>
                  </attribute>
                  <empty/>
                </element>
              </element>
            </optional>
            <optional>
              <ref name="textClass"/>
            </optional>
            <optional>
              <ref name="events"/>
            </optional>
          </interleave>
        </element>
      </element>
    </define>
    <define name="bibl.date">
      <element name="date">
        <text/>
      </element>
    </define>
    <define name="bibl.idno">
      <element name="idno">
        <text/>
      </element>
    </define>
    <define name="author">
      <element name="author">
        <a:documentation>Auteur du document, avec son code identifiant dans l’attribut <a:att>key</a:att></a:documentation>
        <a:example>
          <author>Molière</author>
        </a:example>
        <attribute name="key"/>
        <text/>
      </element>
    </define>
    <define name="editor">
      <element name="editor">
        <a:documentation>Contributeur secondaire au document, avec définition de son rôle dans l’attribut <a:att>role</a:att>, et son code identifiant dans <a:att>key</a:att>.</a:documentation>
        <a:example>
          <editor role="copié par">Philidor L'aisné</editor>
        </a:example>
        <attribute name="key"/>
        <attribute name="role"/>
        <text/>
      </element>
    </define>
    <define name="pubPlace">
      <element name="pubPlace">
        <a:documentation>Lieu de publication dans une référence bibliographique</a:documentation>
        <text/>
      </element>
    </define>
    <define name="publisher">
      <element name="publisher">
        <a:documentation>Éditeur, imprimeur, libraire, ou autre organisation responsable de de la publication</a:documentation>
        <text/>
      </element>
    </define>
    <define name="msDesc">
      <element name="msDesc">
        <ref name="msIdentifier"/>
        <optional>
          <ref name="msContents"/>
        </optional>
        <ref name="physDesc"/>
      </element>
    </define>
    <define name="msIdentifier">
      <element name="msIdentifier">
        <zeroOrMore>
          <choice>
            <element name="collection">
              <text/>
            </element>
            <element name="country">
              <text/>
            </element>
            <element name="institution">
              <text/>
            </element>
            <element name="repository">
              <text/>
            </element>
            <element name="settlement">
              <text/>
            </element>
          </choice>
        </zeroOrMore>
        <oneOrMore>
          <element name="idno">
            <text/>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="msContents">
      <element name="msContents">
        <oneOrMore>
          <element name="msItem">
            <optional>
              <element name="locus">
                <text/>
              </element>
            </optional>
            <zeroOrMore>
              <choice>
                <ref name="title"/>
                <ref name="author"/>
              </choice>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="physDesc">
      <element name="physDesc">
        <zeroOrMore>
          <ref name="p"/>
        </zeroOrMore>
        <element name="objectDesc">
          <attribute name="form"/>
          <element name="supportDesc">
            <optional>
              <attribute name="material"/>
            </optional>
            <optional>
              <element name="support">
                <text/>
              </element>
            </optional>
            <optional>
              <element name="extent">
                <element name="dimensions">
                  <attribute name="unit"/>
                  <interleave>
                    <optional>
                      <element name="depth">
                        <text/>
                      </element>
                    </optional>
                    <element name="height">
                      <text/>
                    </element>
                    <element name="width">
                      <text/>
                    </element>
                  </interleave>
                </element>
              </element>
            </optional>
          </element>
        </element>
        <a:example>
          <physDesc>
            <p>Dessin à la plume, à l'encre brune et au lavis brun</p>
            <objectDesc form="dessin">
              <supportDesc>
                <extent>
                  <dimensions unit="cm">
                    <height>31,8</height>
                    <width>22</width>
                  </dimensions>
                </extent>
              </supportDesc>
            </objectDesc>
          </physDesc>
        </a:example>
      </element>
    </define>
    <define name="textClass">
      <element name="textClass">
        <a:documentation>Liste de types de documents</a:documentation>
        <oneOrMore>
          <element name="classCode">
            <a:documentation>Types de documents, liste de termes en cours de fermeture</a:documentation>
            <attribute name="scheme" a:defaultValue="merveille17"/>
            <choice>
              <text/>
            </choice>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="events">
      <element name="abstract">
        <a:documentation>Métadonnées sur le document (résumé, événement, lieu, personnes…)</a:documentation>
        <element name="listEvent">
          <a:documentation>Un ou plusieurs événements, obligatoire pour tout document.</a:documentation>
          <oneOrMore>
            <element name="event">
              <a:documentation>Un événement, daté et localisé, l’identifiant <a:att>xml:id</a:att> est nécessaire s’il y a plus d’un événement et que des parties du document veulent y faire référence.</a:documentation>
              <optional>
                <ref name="xml.id"/>
              </optional>
              <choice>
                <ref name="when"/>
                <group>
                  <ref name="from"/>
                  <ref name="to"/>
                </group>
              </choice>
              <ref name="placeName"/>
              <optional>
                <ref name="label"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
        <!--
              <zeroOrMore>
                <choice>
                  <ref name="p"/>
                </choice>
              </zeroOrMore>
              <element name="listPlace">
                  <a:documentation>Liste de lieux</a:documentation>
                  <oneOrMore>
                    <element name="place">
                      <a:documentation>Un lieu identifié</a:documentation>
                      <ref name="xml.id"/>
                      <ref name="label"/>
                    </element>
                  </oneOrMore>
                </element>
                <element name="listPerson">
                  <a:documentation>Liste de personnes</a:documentation>
                  <oneOrMore>
                    <element name="person">
                      <a:documentation>Une personne identifiée</a:documentation>
                      <ref name="xml.id"/>
                      <ref name="label"/>
                    </element>
                  </oneOrMore>
                </element>
              -->
      </element>
    </define>
    <define name="body">
      <element name="body">
        <a:documentation>Texte principal</a:documentation>
        <ref name="div.content"/>
        <zeroOrMore>
          <ref name="div"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="front">
      <element name="front">
        <a:documentation>Avant-texte, optionnel, pour page de titre</a:documentation>
        <ref name="point"/>
        <ref name="titlePage"/>
        <ref name="point"/>
      </element>
    </define>
    <define name="div">
      <element name="div">
        <a:documentation>Section structurante du texte comme un chapitre ou une section, &lt;html5:section>.</a:documentation>
        <optional>
          <attribute name="n">
            <a:documentation>Numérotation ou titre court forgé</a:documentation>
          </attribute>
        </optional>
        <optional>
          <attribute name="type">
            <choice>
              <value>chapitre</value>
            </choice>
          </attribute>
        </optional>
        <ref name="div.content"/>
        <zeroOrMore>
          <ref name="div"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="div.content">
      <optional>
        <ref name="pb"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="figure"/>
          <ref name="head"/>
          <ref name="pb"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="block"/>
      </zeroOrMore>
      <!-- Conclusion -->
      <zeroOrMore>
        <choice>
          <ref name="pb"/>
          <ref name="trailer"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="byline">
      <element name="byline">
        <a:documentation>Mention de responsabilité (dans un article de périodique, une lettre…)</a:documentation>
        <zeroOrMore>
          <choice>
            <ref name="chars"/>
            <ref name="lb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="dateline">
      <element name="dateline">
        <a:documentation>Mention de date, de temps ou de lieu, ex : donné le … à … ("datum", dans une lettre, une charte…)</a:documentation>
        <ref name="chars"/>
      </element>
    </define>
    <define name="titlePage">
      <element name="titlePage">
        <a:documentation>Page de titre</a:documentation>
        <oneOrMore>
          <choice>
            <element name="docTitle">
              <oneOrMore>
                <element name="titlePart">
                  <ref name="chars"/>
                </element>
              </oneOrMore>
            </element>
            <element name="docImprint">
              <ref name="chars"/>
            </element>
            <element name="docDate">
              <ref name="chars"/>
            </element>
            <element name="imprimatur">
              <ref name="chars"/>
            </element>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="trailer">
      <element name="trailer">
        <a:documentation>Un titre de fin, ex : « Fin de la premiére Journée. »</a:documentation>
        <ref name="chars"/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>“Points” (insérables entre des caractères, entre des paragraphes)</a:documentation>
    <define name="pb">
      <element name="pb">
        <a:documentation>Saut de page, “page break”, à placer avant le début du texte de la page, avec le numéro</a:documentation>
        <optional>
          <attribute name="n"/>
        </optional>
        <optional>
          <attribute name="facs"/>
        </optional>
        <optional>
          <ref name="xml.id"/>
        </optional>
      </element>
    </define>
    <define name="include">
      <element name="ptr">
        <a:documentation>Pointeur, principalement utilisé pour des inclusions</a:documentation>
        <attribute name="target"/>
        <attribute name="type">
          <value>include</value>
        </attribute>
      </element>
    </define>
    <define name="point">
      <zeroOrMore>
        <choice>
          <ref name="pb"/>
          <ref name="include"/>
        </choice>
      </zeroOrMore>
    </define>

  </div>
  <div>
    <a:documentation>Blocs (niveau paragraphe)</a:documentation>
    <define name="block">
      <choice>
        <ref name="byline"/>
        <ref name="dateline"/>
        <ref name="figure"/>
        <ref name="include"/>
        <ref name="l"/>
        <ref name="lg"/>
        <ref name="label"/>
        <ref name="list"/>
        <ref name="p"/>
        <ref name="pb"/>
        <ref name="stage"/>
      </choice>
    </define>
    <define name="bibl">
      <element name="bibl">
        <ref name="chars"/>
      </element>
    </define>
    <define name="figure">
      <element name="figure">
        <a:documentation>Document image, avec lien oligatoire à une version numérique de l’image <a:el>graphic</a:el>, et une description contenant les termes indexés <a:el>figDesc</a:el></a:documentation>
        <optional>
          <ref name="xml.id"/>
        </optional>
        <interleave>
          <ref name="graphic"/>
          <element name="figDesc">
            <a:documentation>Description de l’image (texte de l’éditeur)</a:documentation>
            <ref name="chars"/>
          </element>
          <zeroOrMore>
            <choice>
              <ref name="byline"/>
              <ref name="dateline"/>
              <ref name="head"/>
              <ref name="l"/>
              <ref name="label"/>
              <ref name="lg"/>
              <ref name="p"/>
              <ref name="signed"/>
            </choice>
          </zeroOrMore>
        </interleave>
      </element>
    </define>
    <define name="head">
      <element name="head">
        <a:documentation>Titre, niveau déterminé par le contexte hiérarchique, html5 : h1, h2, h3, h4, h5, h6</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="chars"/>
            <ref name="lb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="l">
      <element name="l">
        <a:documentation>Un vers, peut être contenu dans une strophe <a:el>lg</a:el></a:documentation>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="lg">
      <element name="lg">
        <a:documentation>Strophe de vers [?] Est-ce qu’une strophe a toujours un type (quatrain, madrigal, sonnet…) ? Est-ce qu’il y a une liste close de types ? Quel fonctionnalité est attendue dans le site sur cette information ? Est-ce que cela ne relève pas des techniques littéraires ?</a:documentation>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="xml.id"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <zeroOrMore>
          <ref name="head"/>
        </zeroOrMore>
        <choice>
          <oneOrMore>
            <choice>
              <ref name="label"/>
              <ref name="l"/>
              <ref name="pb"/>
            </choice>
          </oneOrMore>
          <oneOrMore>
            <choice>
              <ref name="label"/>
              <element name="lg">
                <oneOrMore>
                  <ref name="l"/>
                </oneOrMore>
              </element>
              <ref name="pb"/>
            </choice>
          </oneOrMore>
        </choice>
      </element>
    </define>
    <define name="label">
      <element name="label">
        <a:documentation>Étiquette, pour un intitulé court, de niveau paragraphe ou de niveau caractère</a:documentation>
        <optional>
          <attribute name="type">
            <choice>
              <value>head</value>
              <a:documentation>Intertitre non structurant, indépendant de la hiérarchie du document (pas un titre de partie ou de section)</a:documentation>
              <value>speaker</value>
              <a:documentation>Théâtre non structuré (ex : citation), didascalie de tirade, contient au moins un nom de personnage, et parfois des didascalies <a:el>stage</a:el></a:documentation>
            </choice>
          </attribute>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="chars"/>
            <ref name="lb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="list">
      <element name="list">
        <a:documentation>Listes, &lt;html5:ul> &lt;html5:ol> [?] quels types de listes ? type obligatoire ?</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="xml.id"/>
        </optional>
        <optional>
          <attribute name="rend">
            <ref name="rend.font"/>
          </attribute>
        </optional>
        <optional>
          <ref name="head"/>
        </optional>
        <oneOrMore>
          <choice>
            <element name="item">
              <ref name="chars"/>
            </element>
            <ref name="pb"/>
            <ref name="label"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="p">
      <element name="p">
        <a:documentation>Paragraphe html5 : p</a:documentation>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="signed">
      <element name="signed">
        <a:documentation>Signature, formule finale</a:documentation>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="stage">
      <element name="stage">
        <a:documentation>Didascalie</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Segments (niveau caractère)</a:documentation>
    <define name="chars">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="date"/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="name"/>
          <ref name="note"/>
          <ref name="lb"/>
          <ref name="persName"/>
          <ref name="pb"/>
          <ref name="placeName"/>
          <ref name="orgName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="sup"/>
          <ref name="sc"/>
          <ref name="tech"/>
          <ref name="title"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="date">
      <element name="date">
        <a:documentation>Date</a:documentation>
        <choice>
          <ref name="when"/>
          <ref name="notAfter"/>
          <ref name="notBefore"/>
          <group>
            <ref name="notAfter"/>
            <ref name="notBefore"/>
          </group>
          <group>
            <ref name="from"/>
            <ref name="to"/>
          </group>
        </choice>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="emph">
      <element name="emph">
        <a:documentation>Mise en valeur, &lt;html5:em> (apparence italique)</a:documentation>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="date"/>
            <ref name="seg"/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="foreign">
      <element name="foreign">
        <a:documentation>Mot, expression, ou proposition dans une langue différente du contexte, le code de la languedoit être précisée dans l’attribut obligatoire <a:att>xml:lang</a:att>, avec éventuellement une note contenant la traduction</a:documentation>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <text/>
        <optional>
          <ref name="note"/>
        </optional>
      </element>
    </define>
    <define name="graphic">
      <element name="graphic">
        <attribute name="url"/>
      </element>
    </define>
    <define name="lb">
      <element name="lb">
        <a:documentation>Saut de ligne “line break” &lt;html5:br/&gt;</a:documentation>
        <empty/>
      </element>
    </define>
    <define name="name">
      <element name="name">
        <a:documentation>Non de personnage fictif</a:documentation>
        <optional>
          <ref name="key"/>
        </optional>
        <optional>
          <attribute name="corresp">
            <a:documentation>Clé de la personnage qui joue le rôle</a:documentation>
          </attribute>
        </optional>
        <optional>
          <attribute name="ana"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="name"/>
            <ref name="sc"/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="note">
      <element name="note">
        <a:documentation>Une note, encodée dans le flux du texte, au point de l’appel</a:documentation>
        <optional>
          <attribute name="place">
            <choice>
              <value>bottom</value>
              <value>margin</value>
            </choice>
          </attribute>
        </optional>
        <choice>
          <oneOrMore>
            <choice>
              <ref name="chars"/>
            </choice>
          </oneOrMore>
          <oneOrMore>
            <choice>
              <ref name="p"/>
              <ref name="l"/>
            </choice>
          </oneOrMore>
        </choice>
      </element>
    </define>
    <define name="persName">
      <element name="persName">
        <optional>
          <ref name="key"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <optional>
          <attribute name="role">
            <list>
              <oneOrMore>
                <choice>
                  <value>acteur</value>
                  <value>danseur</value>
                  <value>chanteur</value>
                  <value>musicien</value>
                  <value>auteur</value>
                  <value>convive</value>
                  <value>participant</value>
                  <value>spectateur</value>
                  <value>commanditaire</value>
                  <value>destinataire</value>
                  <value>fournisseur</value>
                  <value>organisation</value>
                  <value>artificier</value>
                  <value>fontainier</value>
                  <value>dessinateur</value>
                </choice>
              </oneOrMore>
            </list>
          </attribute>
        </optional>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="orgName"/>
            <ref name="persName"/>
            <ref name="sc"/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="placeName">
      <element name="placeName">
        <a:documentation>Nom de lieu</a:documentation>
        <optional>
          <ref name="key"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="ref">
      <element name="ref">
        <a:documentation>Lien</a:documentation>
        <attribute name="target">
          <data type="anyURI"/>
        </attribute>
        <ref name="chars"/>
      </element>
    </define>
    <define name="orgName">
      <element name="orgName">
        <optional>
          <ref name="key"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="seg">
      <element name="seg">
        <a:documentation>Segment de texte portant un attribut interprétatif (technique textuelle)</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="sup">
      <element name="hi">
        <attribute name="rend">
          <value>sup</value>
        </attribute>
        <text/>
      </element>
    </define>
    <define name="sc">
      <element name="hi">
        <attribute name="rend">
          <value>sc</value>
        </attribute>
        <choice>
          <text/>
          <ref name="sup"/>
        </choice>
      </element>
    </define>
    <define name="title">
      <element name="title">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="sup"/>
            <ref name="title"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="tech">
      <element name="tech">
        <a:documentation>Technique théâtrale</a:documentation>
        <optional>
          <attribute name="type">
            <choice>
              <value>animal</value>
              <value>bruitage</value>
              <value>construction</value>
              <value>costume</value>
              <value>decor</value>
              <value>eaux</value>
              <value>feux-artifice</value>
              <value>lumieres</value>
              <value>machine</value>
              <value>machine_vol</value>
              <value>machine_terre</value>
              <value>machine_eau</value>
              <value>machine_musique</value>
              <value>machine_temps</value>
              <value>musique</value>
              <value>trappe</value>
            </choice>
          </attribute>
        </optional>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="name"/>
            <ref name="pb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Attributs et types de données</a:documentation>
    <define name="date.type">
      <data type="string">
        <param name="pattern">([0-9]{4}(-[0-9]{2}(-[0-9]{2})?)?)?</param>
      </data>
    </define>
    <define name="ana">
      <attribute name="ana">
        <a:documentation>Technique textuelle</a:documentation>
        <list>
          <zeroOrMore>
            <choice>
              <value>description</value>
              <value>devise</value>
              <value>epigramme</value>
              <value>madrigal</value>
              <value>quatrain</value>
              <value>sonnet</value>
              <value>vers</value>
            </choice>
          </zeroOrMore>
        </list>
      </attribute>
    </define>
    <define name="key">
      <attribute name="key">
        <a:documentation>Terme normalisé (clé de regroupement) pour une entité indexable (personne, lieu…)</a:documentation>
      </attribute>
    </define>
    <define name="rend.block">
      <attribute name="rend">
        <a:documentation>Indication de rendu de noiveau paragraphe, selon un vocabulaire contrôlé. Interprété comme une liste de classes CSS comme dans l'attribut @html5:class</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <ref name="rend.font"/>
              <ref name="rend.align"/>
              <value>dropcap</value>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </define>
    <define name="rend.inline">
      <attribute name="rend">
        <a:documentation>Indication de rendu de niveau caractère, selon un vocabulaire contrôlé. Interprété comme une liste de classes CSS comme dans l'attribut @html5:class</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <ref name="rend.font"/>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </define>
    <define name="rend.font">
      <choice>
        <value>i</value>
        <a:documentation>italique “italic” &lt;html5:i></a:documentation>
        <value>sc</value>
        <a:documentation>petites capitales “small-caps”</a:documentation>
        <value>uc</value>
        <a:documentation>capitales “uppercase”</a:documentation>
      </choice>
    </define>
    <define name="rend.align">
      <choice>
        <value>center</value>
        <a:documentation>bloc centré</a:documentation>
        <value>right</value>
        <a:documentation>bloc à droite</a:documentation>
      </choice>
    </define>
    <define name="when">
      <attribute name="when">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="from">
      <attribute name="from">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="to">
      <attribute name="to">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="notBefore">
      <attribute name="notBefore">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="notAfter">
      <attribute name="notAfter">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="target">
      <attribute name="target"/>
    </define>
    <define name="xml.id">
      <attribute name="xml:id">
        <a:documentation>Identifiant, au moins unique pour le document</a:documentation>
        <data type="ID"/>
      </attribute>
    </define>
    <define name="xml.lang">
      <attribute name="xml:lang">
        <a:documentation>Code normalisé de langue</a:documentation>
        <choice>
          <value>es</value>
          <value>fr</value>
          <value>it</value>
          <value>la</value>
        </choice>
      </attribute>
    </define>
  </div>
</grammar>
