merveilles17.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.tei-c.org/ns/1.0" xml:lang="fr" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <start>
    <ref name="TEI"/>
  </start>
  <div>
    <a:documentation>Structure</a:documentation>
   <define name="TEI">
      <element name="TEI">
        <ref name="xml.lang"/>
        <ref name="teiHeader"/>
        <element name="text">
          <optional>
            <ref name="front"/>
          </optional>
          <ref name="body"/>
        </element>
      </element>
    </define>
    <a:example>
      <teiHeader>
        <fileDesc>
          <titleStmt>
            <title>Les Plaisirs de l'île enchantée</title>
            <author>Auteur du texte</author>
          </titleStmt>
          <editionStmt>
            <edition>Merveilles17</edition>
            <respStmt>
              <name>Marine Roussillon</name>
              <resp>Transcription</resp>
            </respStmt>
            <respStmt>
              <name>Yohann Deguin</name>
              <resp>Premier balisage</resp>
            </respStmt>
          </editionStmt>
          <publicationStmt>
            <publisher>Université d’Artois - Lille, MESHS</publisher>
            <date when="2019">2019</date>
            <availability status="restricted">
              <licence target="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"/>
            </availability>
          </publicationStmt>
          <sourceDesc>
            <bibl>
              <!-- [FG] Est-ce que l’absence ne suffit pas à préciser l’absence d’auteur ? -->
              <author>Sans auteur</author>
              <title>Les Plaisirs de l'île enchantée : Course de bague, collation ornée de machines, comédie mêlée de danse et de musique, ballet du palais d'Alcine, feu d'artifice, et autres fêtes galantes et magnifiques, faites par le roi à Versailles, le 7 mai 1664.</title>
              <!-- Est-ce nécessaire de baliser autant l’enregistrement bibliographique ? Est-ce que ces balises feront l’objet de requête ? Comment assurer une bonne ponctuation ? Pourquoi pas une ligne bibliographique avec typographie simple ? -->
              <pubPlace>Paris</pubPlace>
              <publisher>Ballard</publisher>
              <date when="1664">1664</date>
              <dim>in-fol</dim>
              <extent>60 pages</extent>
              <term type="imprime">Livre imprimé</term>
            </bibl>
          </sourceDesc>
          <profileDesc>
            <creation>
              <date when="1673">1673</date>
            </creation>
            <abstract>
              <listEvent>
                <event xml:id="event-id" when="AAAA-MM-JJ">
                  <placeName key="#versailles"/>
                </event>
              </listEvent>
            </abstract>
          </profileDesc>
        </fileDesc>
      </teiHeader>
    </a:example>
    <define name="teiHeader">
      <a:documentation>La page de titre électronique, avec les métadonnées, notamment les entités d’indexation <a:el>event</a:el>, <a:el>person</a:el>…</a:documentation>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <a:documentation>Titre (! obligatoire) et auteurs (* optionnel et répétable) du document</a:documentation>
            <ref name="title"/>
            <zeroOrMore>
              <element name="author">
                <a:documentation>Auteur du document, avec forme normalisée dans l’attribut <a:att>key</a:att>.</a:documentation>
                <a:example>
                  <author key="Poquelin, Jean-Baptiste (1622-1673) dit Molière">Molière</author>
                </a:example>
                <text/>
              </element>
            </zeroOrMore>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <a:documentation>Nom de l’édition électronique</a:documentation>
              <value>Merveilles17</value>
            </element>
            <zeroOrMore>
              <element name="respStmt">
                <a:documentation>Personne ayant une responsabilité dans l'élaboration du texte électronique (pas le contenu intellectuel, cf. <a:el>titleStmt</a:el>)</a:documentation>
                <ref name="name"/>
                <element name="resp">
                  <a:documentation>Date et rôle dans l’établissement du texte électronique</a:documentation>
                  <text/>
                </element>
              </element>
            </zeroOrMore>
          </element>
          <element name="publicationStmt">
            <a:documentation>Informations relatives à la publication et à la diffusion du fichier XML/TEI</a:documentation>
            <element name="publisher">
              <a:documentation>Éditeur responsable de la publication électronique</a:documentation>
              <text/>
            </element>
            <ref name="date"/>
            <element name="availability">
              <attribute name="status">
                <value>restricted</value>
              </attribute>
              <element name="licence">
                <ref name="target"/>
                <text/>
              </element>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="bibl">
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="title"/>
                </choice>
              </oneOrMore>
            </element>
          </element>
        </element>
        <element name="profileDesc">
          <a:documentation>Description non-bibliographique du texte (langue, circonstances de production)</a:documentation>
          <interleave>
            <element name="creation">
              <a:documentation>Date de création du document (pour base de données)</a:documentation>
              <element name="date">
                <ref name="when"/>
                <text/>
              </element>
            </element>
            <element name="langUsage">
              <a:documentation>Code de langue</a:documentation>
              <element name="language">
                <attribute name="ident">
                  <choice>
                    <value>fr</value>
                  </choice>
                </attribute>
                <empty/>
              </element>
            </element>
            <element name="textClass">
              <a:documentation>Liste de types de documents</a:documentation>
              <oneOrMore>
                <element name="classCode">
                  <a:documentation>Types de documents, liste de termes en cours de fermeture</a:documentation>
                  <attribute name="scheme" a:defaultValue="merveille17"/>
                  <choice>
                    <text/>
                  </choice>
                </element>
              </oneOrMore>
            </element>
            <element name="abstract">
              <a:documentation>Métadonnées sur le document (résumé, événement, lieu, personnes…)</a:documentation>
              <element name="listEvent">
                <a:documentation>Un ou plusieurs événements, obligatoire pour tout document.</a:documentation>
                <oneOrMore>
                  <element name="event">
                    <a:documentation>Un événement, daté et localisé, l’identifiant <a:att>xml:id</a:att> est nécessaire s’il y a plus d’un événement et que des parties du document veulent y faire référence.</a:documentation>
                    <optional>
                      <ref name="xml.id"/>
                    </optional>
                    <choice>
                      <ref name="when"/>
                      <group>
                        <ref name="from"/>
                        <ref name="to"/>
                      </group>
                    </choice>
                    <ref name="placeName"/>
                    <optional>
                      <ref name="label"/>
                    </optional>
                  </element>
                </oneOrMore>
              </element>
              <!--
              <zeroOrMore>
                <choice>
                  <ref name="p"/>
                </choice>
              </zeroOrMore>
              <element name="listPlace">
                  <a:documentation>Liste de lieux</a:documentation>
                  <oneOrMore>
                    <element name="place">
                      <a:documentation>Un lieu identifié</a:documentation>
                      <ref name="xml.id"/>
                      <ref name="label"/>
                    </element>
                  </oneOrMore>
                </element>
                <element name="listPerson">
                  <a:documentation>Liste de personnes</a:documentation>
                  <oneOrMore>
                    <element name="person">
                      <a:documentation>Une personne identifiée</a:documentation>
                      <ref name="xml.id"/>
                      <ref name="label"/>
                    </element>
                  </oneOrMore>
                </element>
              -->
            </element>
          </interleave>
        </element>
      </element>
    </define>
    <define name="body">
      <element name="body">
        <a:documentation>Texte principal</a:documentation>
        <ref name="div.content"/>
        <zeroOrMore>
          <ref name="div"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="front">
      <element name="front">
        <a:documentation>Avant-texte, optionnel, pour page de titre</a:documentation>
        <zeroOrMore>
          <ref name="pb"/>
        </zeroOrMore>
        <ref name="titlePage"/>
        <zeroOrMore>
          <ref name="pb"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="div">
      <element name="div">
        <a:documentation>Section structurante du texte comme un chapitre ou une section, &lt;html5:section>.</a:documentation>
        <optional>
          <attribute name="type">
            <choice>
              <value>chapitre</value>
            </choice>
          </attribute>
        </optional>
        <ref name="div.content"/>
        <zeroOrMore>
          <ref name="div"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="div.content">
      <optional>
        <ref name="pb"/>
      </optional>
      <zeroOrMore>
        <ref name="head"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="byline"/>
          <ref name="dateline"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="block"/>
      </zeroOrMore>
      <!-- Conclusion -->
      <zeroOrMore>
        <choice>
          <ref name="byline"/>
          <ref name="dateline"/>
          <ref name="trailer"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="byline">
      <element name="byline">
        <a:documentation>Mention de responsabilité (dans un article de périodique, une lettre…)</a:documentation>
        <zeroOrMore>
          <choice>
            <ref name="chars"/>
            <ref name="lb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="dateline">
      <element name="dateline">
        <a:documentation>Mention de date, de temps ou de lieu, ex : donné le … à … ("datum", dans une lettre, une charte…)</a:documentation>
        <ref name="chars"/>
      </element>
    </define>
    <define name="titlePage">
      <element name="titlePage">
        <a:documentation>Page de titre</a:documentation>
        <oneOrMore>
          <choice>
            <element name="docTitle">
              <oneOrMore>
                <element name="titlePart">
                  <ref name="chars"/>
                </element>
              </oneOrMore>
            </element>
            <element name="docImprint">
              <ref name="chars"/>
            </element>
            <element name="docDate">
              <ref name="chars"/>
            </element>
            <element name="imprimatur">
              <ref name="chars"/>
            </element>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="trailer">
      <element name="trailer">
        <a:documentation>Un titre de fin, ex : « Fin de la premiére Journée. »</a:documentation>
        <ref name="chars"/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Blocs (niveau paragraphe)</a:documentation>
    <define name="block">
      <choice>
        <ref name="l"/>
        <ref name="lg"/>
        <ref name="label"/>
        <ref name="list"/>
        <ref name="p"/>
        <ref name="pb"/>
        <ref name="stage"/>
      </choice>
    </define>
    <define name="head">
      <element name="head">
        <a:documentation>Titre, niveau déterminé par le contexte hiérarchique, html5 : h1, h2, h3, h4, h5, h6</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="chars"/>
            <ref name="lb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="l">
      <element name="l">
        <a:documentation>Un vers, peut être contenu dans une strophe <a:el>lg</a:el></a:documentation>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="lg">
      <element name="lg">
        <a:documentation>Strophe de vers [?] Est-ce qu’une strophe a toujours un type (quatrain, madrigal, sonnet…) ? Est-ce qu’il y a une liste close de types ? Quel fonctionnalité est attendue dans le site sur cette information ? Est-ce que cela ne relève pas des techniques littéraires ?</a:documentation>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <optional>
          <ref name="label"/>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="l"/>
            <ref name="pb"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="label">
      <element name="label">
        <a:documentation>Étiquette, pour un intitulé court, de niveau paragraphe ou de niveau caractère</a:documentation>
        <optional>
          <attribute name="type">
            <choice>
              <value>head</value>
              <a:documentation>Intertitre non structurant, indépendant de la hiérarchie du document (pas un titre de partie ou de section)</a:documentation>
              <value>speaker</value>
              <a:documentation>Théâtre non structuré (ex : citation), didascalie de tirade, contient au moins un nom de personnage, et parfois des didascalies <a:el>stage</a:el></a:documentation>
            </choice>
          </attribute>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="chars"/>
            <ref name="lb"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="list">
      <element name="list">
        <a:documentation>Listes, &lt;html5:ul> &lt;html5:ol> [?] quels types de listes ? type obligatoire ?</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="head"/>
        </optional>
        <oneOrMore>
          <choice>
            <element name="item">
              <ref name="chars"/>
            </element>
            <ref name="pb"/>
            <ref name="label"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="p">
      <element name="p">
        <a:documentation>Paragraphe html5 : p</a:documentation>
        <optional>
          <ref name="rend.block"/>
        </optional>
        <optional>
          <ref name="xml.lang"/>
        </optional>
        <optional>
          <ref name="ana"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="stage">
      <element name="stage">
        <a:documentation>Didascalie</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Segments (niveau caractère)</a:documentation>
    <define name="chars">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="date"/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="name"/>
          <ref name="persName"/>
          <ref name="pb"/>
          <ref name="placeName"/>
          <ref name="orgName"/>
          <ref name="seg"/>
          <ref name="sup"/>
          <ref name="sc"/>
          <ref name="tech"/>
          <ref name="title"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="date">
      <element name="date">
        <a:documentation>Date</a:documentation>
        <optional>
          <ref name="when"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="emph">
      <element name="emph">
        <a:documentation>Mise en valeur, &lt;html5:em> (apparence italique)</a:documentation>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="date"/>
            <ref name="seg"/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
   <define name="foreign">
      <element name="foreign">
        <a:documentation>Mot, expression, ou proposition dans une langue différente du contexte, le code de la languedoit être précisée dans l’attribut obligatoire <a:att>xml:lang</a:att>, avec éventuellement une note contenant la traduction</a:documentation>
        <ref name="xml.lang"/>
        <optional>
          <ref name="ana"/>
        </optional>
        <text/>
        <optional>
          <ref name="note"/>
        </optional>
      </element>
    </define>
    <define name="lb">
      <element name="lb">
        <a:documentation>Saut de ligne “line break” &lt;html5:br/&gt;</a:documentation>
        <empty/>
      </element>
    </define>
    <define name="name">
      <element name="name">
        <a:documentation>Non de personnage fictif</a:documentation>
        <optional>
          <ref name="key"/>
        </optional>
        <optional>
          <attribute name="corresp">
            <a:documentation>Clé de la personnage qui joue le rôle</a:documentation>
          </attribute>
        </optional>
        <optional>
          <attribute name="ana"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="sc"/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="note">
      <element name="note">
        <a:documentation>Une note, encodée dans le flux du texte, au point de l’appel</a:documentation>
        <choice>
          <oneOrMore>
            <choice>
              <ref name="chars"/>
            </choice>
          </oneOrMore>
          <oneOrMore>
            <choice>
              <ref name="p"/>
              <ref name="l"/>
            </choice>
          </oneOrMore>
        </choice>
      </element>
    </define>
    <define name="pb">
      <element name="pb">
        <a:documentation>Saut de page, “page break”, à placer avant le début du texte de la page, avec le numéro</a:documentation>
        <attribute name="n"/>
        <optional>
          <attribute name="facs"/>
        </optional>
        <optional>
          <ref name="xml.id"/>
        </optional>
      </element>
    </define>
    <define name="persName">
      <element name="persName">
        <optional>
          <ref name="key"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <optional>
          <attribute name="role">
            <list>
              <oneOrMore>
                <choice>
                  <value>acteur</value>
                  <value>danseur</value>
                  <value>chanteur</value>
                  <value>musicien</value>
                  <value>auteur</value>
                  <value>convive</value>
                  <value>participant</value>
                  <value>spectateur</value>
                  <value>commanditaire</value>
                  <value>destinataire</value>
                  <value>fournisseur</value>
                  <value>organisation</value>
                  <value>artificier</value>
                  <value>fontainier</value>
                  <value>dessinateur</value>
                </choice>
              </oneOrMore>
            </list>
          </attribute>
        </optional>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="orgName"/>
            <ref name="sc"/>
            <ref name="sup"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="placeName">
      <element name="placeName">
        <a:documentation>Nom de lieu</a:documentation>
        <optional>
          <ref name="key"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="orgName">
      <element name="orgName">
        <optional>
          <ref name="key"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="seg">
      <element name="seg">
        <a:documentation>Segment de texte portant un attribut interprétatif (technique textuelle)</a:documentation>
        <optional>
          <ref name="ana"/>
        </optional>
        <optional>
          <ref name="rend.inline"/>
        </optional>
        <ref name="chars"/>
      </element>
    </define>
    <define name="sup">
      <element name="hi">
        <attribute name="rend">
          <value>sup</value>
        </attribute>
        <text/>
      </element>
    </define>
    <define name="sc">
      <element name="hi">
        <attribute name="rend">
          <value>sc</value>
        </attribute>
        <choice>
          <text/>
          <ref name="sup"/>
        </choice>
      </element>
    </define>
    <define name="title">
      <element name="title">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="sup"/>
            <ref name="title"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="tech">
      <element name="tech">
        <a:documentation>Technique théâtrale</a:documentation>
        <optional>
          <attribute name="type">
            <list>
              <oneOrMore>
                <choice>
                  <value>construction</value>
                  <value>décor</value>
                  <value>costume</value>
                  <value>animal</value>
                  <value>machine-volante</value>
                  <value>machine-terrestre</value>
                  <value>machine-aquatique</value>
                  <value>machine-musciale</value>
                  <value>machine-du-temps</value>
                  <value>trappe</value>
                  <value>bruitage</value>
                  <value>éclairage</value>
                  <value>jeux-d'eaux</value>
                  <value>feux-d'artifice</value>
                </choice>
              </oneOrMore>
            </list>
          </attribute>
        </optional>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="name"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Attributs et types de données</a:documentation>
    <define name="date.type">
      <data type="string">
        <param name="pattern">([0-9]{4}(-[0-9]{2}(-[0-9]{2})?)?)?</param>
      </data>
    </define>
    <define name="ana">
      <attribute name="ana">
        <a:documentation>Technique textuelle</a:documentation>
        <list>
          <zeroOrMore>
            <choice>
              <value>description</value>
              <value>devise</value>
              <value>madrigal</value>
              <value>sonnet</value>
              <value>quatrain</value>
            </choice>
          </zeroOrMore>
        </list>
      </attribute>
    </define>
    <define name="key">
      <attribute name="key">
        <a:documentation>Terme normalisé (clé de regroupement) pour une entité indexable (personne, lieu…)</a:documentation>
      </attribute>
    </define>
    <define name="rend.block">
      <attribute name="rend">
        <a:documentation>Indication de rendu de noiveau paragraphe, selon un vocabulaire contrôlé. Interprété comme une liste de classes CSS comme dans l'attribut @html5:class</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <ref name="rend.font"/>
              <ref name="rend.align"/>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </define>
    <define name="rend.inline">
      <attribute name="rend">
        <a:documentation>Indication de rendu de niveau caractère, selon un vocabulaire contrôlé. Interprété comme une liste de classes CSS comme dans l'attribut @html5:class</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <ref name="rend.font"/>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </define>
    <define name="rend.font">
      <choice>
        <value>i</value>
        <a:documentation>italique “italic” &lt;html5:i></a:documentation>
        <value>sc</value>
        <a:documentation>petites capitales “small-caps”</a:documentation>
        <value>uc</value>
        <a:documentation>capitales “uppercase”</a:documentation>
      </choice>
    </define>
    <define name="rend.align">
      <choice>
        <value>center</value>
        <a:documentation>bloc centré</a:documentation>
        <value>right</value>
        <a:documentation>bloc à droite</a:documentation>
      </choice>
    </define>
    <define name="when">
      <attribute name="when">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="from">
      <attribute name="from">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="to">
      <attribute name="to">
        <ref name="date.type"/>
      </attribute>
    </define>
    <define name="target">
      <attribute name="target"/>
    </define>
    <define name="xml.id">
      <attribute name="xml:id">
        <a:documentation>Identifiant, au moins unique pour le document</a:documentation>
        <data type="ID"/>
      </attribute>
    </define>
    <define name="xml.lang">
      <attribute name="xml:lang">
        <a:documentation>Code normalisé de langue</a:documentation>
        <choice>
          <value>es</value>
          <value>fr</value>
          <value>it</value>
          <value>la</value>
        </choice>
      </attribute>
    </define>
  </div>
</grammar>
